.lectures-list__item{
	position: relative;
	margin-bottom: 20px;
}

.lectures-list-item__desc{
	margin-right: 80px;
	border-bottom: 1px dotted black;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lectures-list-item__date{
	position: absolute;
	right: 0;
}

.lectures-list-item__title{
	font-size: 24px;
	text-decoration: none;
}

.lectures-list-item__author{
	line-height: 24px;
	margin-left: 7px;
}

.lectures-list-item__about{
	margin-top: 10px;
}

.lecture-item{
	margin-bottom: 20px;
}

.lecture-item__about{
	margin-bottom: 20px;
}

.lecture-item__video, .lecture-item__slides{
	width: 100%;
	height: 400px;
}

.lecture-item__prop{
	list-style: none;
	margin: 10px 0;
	padding: 0;
}

.lecture-item__prop-item{
	margin: 10px 0;
}