html,body{
    width: 100%;
    height: 100%;
    background: #fff;
}

.clear{
    content: ' ';
    clear: both;
    height: 50px;
}

.main{
    width: 1024px;
    height: 100%;
    margin: 0 auto;
}

.menu{
    width: 222px;
    position: fixed;
    top: 80px;
}

.menu-item{
    display: block;
    height: 50px;
    border-right: none;
    text-decoration: none;
    text-align: right;
    color: #E3E5EB;
}

.menu-item:hover{
    color: #000;
}

.menu-item__value{
    padding: 7px;
    border: 1px solid #E3E5EB;
    border-radius: 90px;
    line-height: 50px;
    margin: 0 5px 0 0;
}

.menu-item:hover .menu-item__value{
    background: #fff;
}

.menu-item__name{
    line-height: 50px;
    margin: 0 20px 0 0;
}

.menu-item_color-yellow{
    background: #CFB34F;
}

.menu-item_color-blue{
    background: #526A8F;
}

.menu-item_color-red{
    background: #B5401C;
}

.menu-item_color-green{
    background: #6A968F;
}

.menu-item_color-grey{
    background: #555352;
}

.content{
    width: 760px;
    min-height: 100%;
    padding: 0 20px;
    margin-left: 222px;
    border-left: 2px solid #B5401C;
}


.header__h1{
    text-align: center;
    font-size: 28px;
    padding: 20px 0;
    margin: 0;
}