<div class="students-list">
    {{#each .}}
    <a href="/#!/student/{{this.id}}"><div class="students-list__item">
        <img class="students-list__item-photo" src="{{this.photo}}" alt="{{this.name}}">
        <span class="students-list__item-name">{{this.name}}</span>
    </div></a>
    {{/each}}
</div>
<div class="clear"></div>